---
import Section from '@/components/ui/Section.astro';

import { basics } from '@cv/es';

const { summary } = basics;
---

<Section title='About'>
  <p class='text-pretty font-mono text-sm text-slate-500'>
    {summary}
  </p>
</Section>
