---
import Section from '@/components/ui/Section.astro';
import ExperienceItem from '@/components/ui/ExperienceItem.astro';

import { work } from '@cv/es';
---

<Section title='Work Experience'>
  <div class='flex flex-col items-center justify-center gap-y-6'>
    {work.map((exp) => <ExperienceItem {...exp} />)}
  </div>
</Section>
