---
import Layout from '@/layouts/Layout.astro';

import VisitorWelcome from '@/components/sections/VisitorWelcome.astro';
import Hero from '@/components/sections/Hero.astro';
import About from '@/components/sections/About.astro';
import Experience from '@/components/sections/Experience.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
---

<Layout title='JPA | Software Engineer'>
  <main class='p-4 m-auto w-full'>
    <VisitorWelcome />
    <Hero />
    <About />
    <Experience />
  </main>
  <KeyboardManager />
</Layout>
