---
import Section from '@/components/ui/Section.astro';
---

<Section>
  <p class='bg-yellow-400 text-black font-bold text-2xl'>
    MELI crack! Ingresá la palabra clave
  </p>
</Section>

<script>
  import Mousetrap from 'mousetrap';

  Mousetrap.bind('b u e n a s', function () {
    alert('Hola MELI');
  });
</script>
